<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>First Express App</title>
  </head>
  <body>
    <% names.forEach(function(nombre) { %>
      <h2> Hello, <%= nombre %> </h2>
    <% }) %>
  </body>
</html>
